<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548730913107-q2mce5oqranlr8rfb2p5b7fb3pr5s5hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548730913107-q2mce5oqranlr8rfb2p5b7fb3pr5s5hn</string>
	<key>API_KEY</key>
	<string>AIzaSyD5CVVF56RWTfhxdYsY5zdLSKcIITc_Mrc</string>
	<key>GCM_SENDER_ID</key>
	<string>548730913107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-c0l-cepe</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-c0l-cepe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548730913107:ios:dcb67cd85486d6082e61a6</string>
</dict>
</plist>