<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700827935460-jfoi5piem9cq4obha72oue7s48cql9s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700827935460-jfoi5piem9cq4obha72oue7s48cql9s7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_kz8iSLgysdgCfXvE_SeyOlbbDoejyVA</string>
	<key>GCM_SENDER_ID</key>
	<string>700827935460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-jgteknomo</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-jgteknomo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700827935460:ios:a0267f34a3079bcb8a42f1</string>
</dict>
</plist>